<ul class="catalyst-list">
  {{#each catalysts}}
    <li class="catalyst">
      <img class="catalyst-icon" src="{{this.icon}}" />
      <div class="catalyst-cooldown cd-{{this.cooldown}}"></div>
    </li>
  {{/each}}
</ul>