.freelancer-list {
  padding: 0;
  list-style: none;
}

.freelancer {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 16px;
}

.freelancer-profile {
  position: absolute;
  bottom: -20px;
  right: 27px;
  width: 150px;
  height: 200px;
  background-color: #333;
  border: 2px solid rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transform: skew(-25deg);
}

.freelancer-portrait {
  position: relative;
  top: -75%;
  left: -50px;
  width: 170%;
  transform: skew(25deg);
}

.ability-list {
  position: absolute;
  bottom: 0;
  padding: 0;
  list-style: none;
}

.ability {
  float: left;
  width: 50px;
  margin: 4px;
  padding: 0 8px;
  background: #a0a0a0;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  transform: skew(-25deg);
  transition: 500ms background;
  cursor: pointer;
}

.ability:hover {
  background: #3f3f3f;
}

.ability-icon {
  width: 100%;
  transform: skew(25deg);
}